body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #ebeb6e, #de77c8);
}

header {
    background-color: #2e8b57;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    
}

nav a {
    color: white;
    margin: 8px;
    text-decoration: none;
}

.section {
    text-align: center;
    padding: 30px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}